@page
@model IndexModel
@{
    ViewData["Title"] = "IdentityLabs";
}

<div class="text-center">
    <h1>Lab 10 - Identity With Razor Pages</h1>
    <h2>CISS 243 - Adam Knitter</h2>
    <p>This application uses Identity to control access to who can interact with data in the database.  
        A user without an account can see the data in the table but not manipulate it.  
        Only a user with an account can manipulate the data.
    </p>
</div>
