@page
@model IdentityLabs.Pages.Index1Model
@{
    ViewData["Title"] = "Lab Instructions";
}

<div class="text-center">
    <h1 class="display-4">Lab Instructions</h1>
    <p>Create a new Razor Page applications that uses Identity to log on. It should have a Customer table.</p>
    <p>The Customer table should have a customer id, name, city, state, zip, email address. Validate all fields as required. Put other property attributes as needed.</p>
    <p>Scaffold pages for the customer table. Make the app so that anyone can view the data, but only logged on users can make changes.</p>
</div>