@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to bookShelf!</h1>
    <p>Register for an account and start adding books to myShelf now!</p>
    <p>Head over to the communityShelf and look through a list of books to find your next great adventure</p>
</div>
