@page
@model IndexModel
@{
    ViewData["Title"] = "Lab 8";
}

    <div class="container align-content-lg-center">
        <div class="row">
            <h1 class="display-4 col-sm-4">Lab 8</h1>
        </div>
        <div class="row">
            <h3 class="col-sm-3 text-left">CISS 243</h3>
            <h3 class="col-sm-3 text-right">Adam Knitter</h3>
        </div>
        <div class="row">
            <p class="col-sm-6">Building a Razor Page app with two tables, Employees and Departments.</p>
        </div>
        <div class="row">
            <p class="col-sm-6">Create a select list on the employee table that displays Depatment Names but sets the corresponding Department ID value</p>
        </div>
    </div>
