@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Support:</strong> <a href="mailto:knitter0288@gmail.com">:knitter0288@gmail.com</a><br />
</address>
