@page
@model RazorPageDemo.Pages.CoreModel
@{
    ViewData["Title"] = "Core";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2 class="col-lg-offset-2">@Model.Message</h2>
<h3 class="col-lg-2">@ViewData["Title"]</h3>
<div class="col-lg-8">
    <p>
        This programming model is an updated version of the previous two which combines them into one cross platform, app building machine.
        Version 2.x supports both the .NET framework and the .NET core.  Future version will strictly target the .NET core, which is where
        its cross platform capabilities come from.  Although this seems like a setback, there is a lot of work being done to close the API
        gap between .NET framework and .NET core.  This model also introduces Razor pages, which is a markup syntax designed to provide a
        smoother work-flow when adding code blocks to HTML.
    </p>
</div>