@page
@model ReadingListManager.Pages.UserBookList.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>UserBookEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserBookEntry.UserBookEntryID" />
            <div class="form-group">
                <label asp-for="UserBookEntry.DateAdded" class="control-label"></label>
                <input asp-for="UserBookEntry.DateAdded" class="form-control" />
                <span asp-validation-for="UserBookEntry.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBookEntry.DateStarted" class="control-label"></label>
                <input asp-for="UserBookEntry.DateStarted" class="form-control" />
                <span asp-validation-for="UserBookEntry.DateStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBookEntry.DateRead" class="control-label"></label>
                <input asp-for="UserBookEntry.DateRead" class="form-control" />
                <span asp-validation-for="UserBookEntry.DateRead" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserBookEntry.CurrentRead" /> @Html.DisplayNameFor(model => model.UserBookEntry.CurrentRead)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserBookEntry.UserEmail" class="control-label"></label>
                <input asp-for="UserBookEntry.UserEmail" class="form-control" />
                <span asp-validation-for="UserBookEntry.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
