@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Adam Knitter</h3>
<p>
    I am a student at Lorain County Community College pursuing an Associates Degree of Business focused on computer programming
</p>

<p>
    This is a school project for CISS 243 Web Databse Integration at Lorain County Community College
</p>

<p>
    If you have any questions please contact me using the email address provided below.  Thank you for taking the time to review this site.
</p>

<address>
    <strong>Email</strong> <a href="mailto:knitter0288@gmail.com">knitter0288@gmail.com</a><br />
</address>
